<div class="flex flex-row flex-wrap justify-start">  
  <div class="card lg:card-side bg-base-100 shadow-xl">
    <figure><%= image_tag line.image %></figure>
    <div class="card-body">
      <h2 class="card-title"><%= line.name %></h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <%= line.description %>
        </li>
        <li class="list-inline-item">
          <%= line.line_url %>
        </li>
        <li class="list-inline-item">
          <%= line.recommended_train_window_spot %>
        </li>
      </ul>
    </div>
  </div>
</div>