<div class="mx-auto px-1 py-3 text-center">
  <!-- 路線名の検索フォーム -->
  <h2 class="text-center font-bold font-serif text-xl mt-5">路線名から検索する</h2>
  <%= search_form_for @line, url: lines_path do |f| %>
    <div class="relative flex justify-center rounded-md mt-6">
      <div data-controller="autocomplete" data-autocomplete-url-value="/lines/search" role="combobox">
        <%= f.search_field :name_cont,
                            data: { autocomplete_target: 'input' },
                            class: "w-[300px] py-3 px-4 pl-11 block border-gray-200 shadow-sm rounded text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400", 
                            placeholder: "路線名を入力してください" %>
        <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
        <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
        <div class="absolute inset-y-0 left-50 flex items-center pointer-events-none pl-4">
          <svg class="h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </div>
      </div>
      <%= f.submit "検索", class: "ml-4 py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-lg border border-transparent font-semibold bg-accent text-white hover:bg-indigo-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-accent transition-all text-sm" %>
    </div>
  <% end %>
  <!-- 検索オプション -->
  <%= render 'search_option', line: @line %>
</div>