<div class="mx-auto px-1 py-3 text-center">
  <!-- 検索フォーム -->
  <h2 class="text-center font-bold font-serif text-xl mt-5">路線名から検索する</h2>
    <%= search_form_for @line, url: lines_path do |f| %>
      <div class="relative flex justify-center rounded-md mt-6">
        <div data-controller="autocomplete" data-autocomplete-url-value="/lines/search" role="combobox">
          <%= f.search_field :name_cont,
                              data: { autocomplete_target: 'input' },
                              class: "w-[300px] py-3 px-4 pl-11 block border-gray-200 shadow-sm rounded text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400", 
                              placeholder: "路線名を入力してください" %>
          <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
          <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
          <div class="absolute inset-y-0 left-50 flex items-center pointer-events-none pl-4">
            <svg class="h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </div>
        </div>
        <%= f.submit "検索", class: "ml-4 py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-lg border border-transparent font-semibold bg-accent text-white hover:bg-indigo-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-accent transition-all text-sm" %>
      </div>
    <% end %>
    <div class="hs-accordion active" id="hs-basic-with-title-and-arrow-stretched-heading-one" data-controller="accordion">
      <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 group py-3 inline-flex items-center justify-between gap-x-3 font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one" data-action="click->accordion#toggle">
        検索オプション
        <svg class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" data-accordion-target="arrowDown">
          <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" data-accordion-target="arrowUp">
          <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
      <div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one" data-accordion-target="content">
        <div class="search-options p-3.5">
          <h2 class="text-center font-bold font-serif text-xl mt-5"><%= (t 'static_pages.top.prefecture') %></h2>
          <div class="p-3.5">
            <%= search_form_for @line do |f| %>
              <div class="p-3.5 inline-flex">
                <!-- 都道府県検索 -->
                <%= f.collection_select(:prefecture_lines_prefecture_id_eq, @prefectures, :id, :name, { include_blank: "都道府県を選択" }, { class: "select select-bordered max-w-xs", id: "prefecture-select" }) %>
                <!-- 路線名検索 -->
                <%= f.collection_select(:id_eq, @lines, :id, :name, { include_blank: "路線名を選択" }, { class: "select select-bordered max-w-xs pl-8 ml-4", id: "line-select" }) %>
                <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
                  <%= f.submit (t 'defaults.search') %>
                </button>
              </div>
            <% end %>
            <h2 class="text-center font-bold font-serif text-xl mt-8 mb-4"><%= (t 'static_pages.top.category') %></h2>
            <!-- カテゴリ検索 -->
            <%= search_form_for @line do |f| %>
              <% Category.all.each do |category| %>
                <%= f.check_box :line_categories_category_id_eq_any, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false, class: 'checkbox checkbox-accent' }, category[:id] %>
                <%= f.label :line_categories_category_id_eq_any, category.name, { class: 'font-bold font-serif text-lg' }, value: category[:id] %>
              <% end %>
              <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
                <%= f.submit (t 'defaults.search') %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 検索結果 -->
<div class="flex justify-center">
  <hr class="border-t-2 border-gray-100 w-7/12 mb-12">
</div>
<div class="container flex items-center justify-center flex-1 h-full mx-auto">
  <div class="pb-12 flex flex-row flex-wrap justify-center">
    <% if @lines.present? %>
      <%= render @lines %>
    <% else %>
      <div class="text-center">
        <p class="text-md flex justify-center">該当する路線が見つかりませんでした。</p>
      </div>
    <% end %>
  </div>
</div>
<div class="join flex justify-center">
  <%= paginate @lines %> 
</div>