<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <!-- 検索フォーム -->
  <div class="p-3.5">
    <h2 class="text-center font-bold font-serif text-xl mt-5"><%= (t 'static_pages.top.prefecture') %></h2>
    <div class="sm:col-span-2 p-3.5">
      <%= search_form_for @line do |f| %>
        <div class="p-3.5 inline-flex">
          <!-- 都道府県検索 -->
          <%= f.collection_select(:prefecture_lines_prefecture_id_eq, @prefectures, :id, :name, { include_blank: "都道府県を選択" }, { class: "select select-bordered max-w-xs", id: "prefecture-select" }) %>
          <!-- 路線名検索 -->
          <%= f.collection_select(:id_eq, @lines, :id, :name, { include_blank: "路線名を選択" }, { class: "select select-bordered max-w-xs pl-8 ml-4", id: "line-select" }) %>
          <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
            <%= f.submit (t 'defaults.search') %>
          </button>
        </div>
      <% end %>
      <h2 class="text-center font-bold font-serif text-xl mt-8 mb-4"><%= (t 'static_pages.top.category') %></h2>
      <!-- カテゴリ検索 -->
      <%= search_form_for @line do |f| %>
        <% Category.all.each do |category| %>
          <%= f.check_box :line_categories_category_id_eq_any, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false, class: 'checkbox checkbox-accent' }, category[:id] %>
          <%= f.label :line_categories_category_id_eq_any, category.name, { class: 'font-bold font-serif text-lg' }, value: category[:id] %>
        <% end %>
        <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
          <%= f.submit (t 'defaults.search') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
<!-- 検索結果 -->
<div class="flex justify-center">
  <hr class="border-t-2 border-gray-100 w-7/12 mb-12">
</div>
<div class="container flex items-center justify-center flex-1 h-full mx-auto">
  <div class="pb-12 flex flex-row flex-wrap justify-center">
    <% if @lines.present? %>
      <%= render @lines %>
    <% else %>
      <div class="text-center">
        <p class="text-md flex justify-center">該当する路線が見つかりませんでした。</p>
      </div>
    <% end %>
  </div>
</div>
<div class="join flex justify-center">
  <%= paginate @lines %> 
</div>