<tr>
  <td class="h-px w-72 whitespace-nowrap">
    <div class="ps-6 py-3">
      <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200"><%= comment.id %></span>
    </div>
  </td>
  <td class="h-px w-72 whitespace-nowrap">
    <div class="px-6 py-3">
      <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200"><%= comment.body %></span>
    </div>
  </td>
  <td class="h-px w-72 whitespace-nowrap">
    <div class="px-6 py-3">
      <span class="block text-sm font-semibold text-gray-800 dark:text-gray-200 ml-3"><%= l comment.created_at, format: :long %></span>
    </div>
  </td>
  <td class="ml-5 whitespace-nowrap">
    <%= link_to t('defaults.show'), admin_comment_path(comment), class: "btn btn-neutral" %>
  </td>
  <td class="ml-2 whitespace-nowrap">
    <%= link_to t('defaults.edit'), edit_admin_comment_path(comment), class: "btn btn-success" %>
  </td>
  <td class="ml-2 whitespace-nowrap">
    <%= link_to t('defaults.delete'), admin_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')}, class: "btn btn-error" %>
  </td>
</tr>