<div class="top-wrapper">
  <div class="top-inner-text">
    <h1 class="mb-10">Train Window Trip</h1>
    <%= link_to '車窓の旅に出かける！', lines_path, class: 'cursor-pointer py-3 px-7 bg-white hover:bg-gray-200 text-rose-500 text-center text-base font-semibold shadow-md border border-rose-500 rounded-full' %>
  </div>
</div>
<!-- 使い方 -->
<div class="container px-5 py-24 mx-auto">
  <div class="text-center mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Train Window Tripでできること</h1>
  </div>
  <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'search_icon.svg', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">絶景路線を検索できる</h2>
        <p class="leading-relaxed text-base">都道府県やカテゴリから車窓の美しい路線を<br>検索することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'video_icon.svg', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">車窓動画を視聴できる</h2>
        <p class="leading-relaxed text-base">列車内からの展望動画を見ることで、<br>臨場感のある美しい車窓の景色を堪能することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'comment_icon.svg', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">感想や思い出をシェアできる</h2>
        <p class="leading-relaxed text-base">車窓動画を見た感想や、路線にまつわる思い出などをコメントで他のユーザーと共有することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- 人気路線ランキング -->
<div class="ranking-container text-black mt-20" style="height: 500px">
  <div class="bg-white w-full h-full flex">
    <div class="ranking-title text-center mt-20" style="width: 500px">
      <h1 class="text-6xl mb-5">Ranking</h1>
      <span class="text-xl">
        <span class="italic">/</span>
        人気の路線ランキング
      </span>
      <div class="flex justify-center mt-4">
        <hr class="border-t-2 border-gray-10 w-44">
      </div>
      <div class="mt-6">
        <%= link_to (t 'defaults.view_more_button'), like_rankings_path, class: 'btn bg-accent text-white hover:bg-indigo-700 px-8 py-2 rounded-full transform transition-transform duration-200 hover:scale-110' %>
      </div>
    </div>
    <div class="ranking-content">
      <!-- Card Blog -->
      <div class="max-w-[63rem] max-h-[80rem] px-4 py-10 sm:px-6 lg:px-8 lg:pb-14 mx-auto">
        <!-- Grid -->
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <% @line_like_ranks.zip(@crown_rank) do |result, index| %>
            <!-- Card -->
            <div class="group flex flex-col bg-white h-full border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
              <div class="rank-crown flex">
                <%= image_tag @crowns[index - 1], size: "45x45", class:"ml-2" %>
              </div>
              <%= image_tag result.image, class: 'h-52 w-63 flex flex-col justify-center items-center bg-blue-600' %>
              <div class="p-4 md:p-6">
                <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
                  <%= result.name %>
                </h3>
                <div class="flex justify-end items-center text-xl text-gray-800">
                  <i class="fa-solid fa-heart text-secondary"></i>
							    <p class="ml-1 text-lg"><%= Like.where(line_id: result.id).count %></p>
						    </div>
              </div>
              <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
                <%= link_to (t 'lines.show.title'), line_path(result), class: 'w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-bl-xl font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800'%>
                <%= link_to (t 'lines.show.search_button'), videos_path(id: result.id), class: 'w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-br-xl font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800'%>
              </div>
            </div>
            <!-- End Card -->
          <% end %>
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Card Blog -->
    </div>
  </div>
</div>