<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>さあ、車窓の旅に出かけよう</h1>
  </div>
</div>
<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <h1 class="font-serif text-3xl font-bold text-center">車窓動画を検索する</h1>
  <!-- 検索フォーム -->
  <div class="p-3.5">
    <div class="artboard-demo bg-secondary-focus sm:col-span-2 p-3.5 items-center text-center">
      <h2 class="text-center font-bold font-serif text-xl">都道府県で検索</h2>
      <div class="sm:col-span-2 p-3.5">
        <%= search_form_for @line, url: search_results_path do |f| %>
          <%# 都道府県検索 %>
          <div class="p-3.5 inline-flex">
            <%= f.collection_select(:prefecture_lines_prefecture_id_eq, @prefectures, :id, :name, {include_blank: "都道府県を選択"}, {class:"select select-bordered  max-w-xs"}) %>
            <%= f.collection_select(:id_eq, @lines, :id, :name, {include_blank: "路線名を選択"}, {class:"select select-bordered max-w-xs pl-8 ml-4"}) %>
            <button class="btn btn-accent ml-4"><%= f.submit '検索' %></button>
          </div>
          <h2 class="text-center font-bold font-serif text-xl">カテゴリ検索</h2>
          <div class="p-3.5">
            <%= f.collection_select(:line_categories_category_id_eq, @categories, :id, :name, {include_blank: "カテゴリを選択"}, {class:"select select-bordered  max-w-xs pl-8"}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>