<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>さあ、車窓の旅に出かけよう</h1>
  </div>
</div>
<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <h1 class="font-serif text-3xl font-bold text-center mt-14 mb-4">美しい鉄道路線を検索する</h1>
  <!-- 検索フォーム -->
  <div class="p-3.5">
    <div class="artboard-demo bg-secondary-focus sm:col-span-2 p-3.5 items-center text-center">
      <h2 class="text-center font-bold font-serif text-xl mt-5">都道府県から検索</h2>
      <div class="sm:col-span-2 p-3.5">
        <%= search_form_for @line do |f| %>
          <%# 都道府県検索 %>
          <div class="p-3.5 inline-flex">
            <%= f.collection_select(:prefecture_lines_prefecture_id_eq, @prefectures, :id, :name, { include_blank: "都道府県を選択" }, { class: "select select-bordered max-w-xs", id: "prefecture-select" }) %>
            <%= f.collection_select(:id_eq, @lines, :id, :name, { include_blank: "路線名を選択" }, { class: "select select-bordered max-w-xs pl-8 ml-4", id: "line-select" }) %>
            <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
              <%= f.submit '検索' %>
            </button>
          </div>
        <% end %>
        <h2 class="text-center font-bold font-serif text-xl mt-14 mb-4">カテゴリから検索</h2>
        <%= search_form_for @line do |f| %>
          <% Category.all.each do |category| %>
            <%= f.check_box :line_categories_category_id_eq_any, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false, class: 'checkbox checkbox-accent' }, category[:id] %>
            <%= f.label :line_categories_category_id_eq_any, category.name, { class: 'font-bold font-serif text-lg' }, value: category[:id] %>
          <% end %>
          <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
            <%= f.submit '検索' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>