<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Train Window Trip</h1>
  </div>
</div>
<!-- 使い方 -->
<div class="container px-5 py-24 mx-auto">
  <div class="text-center mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Train Window Tripでできること</h1>
  </div>
  <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'search_icon.svg', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">絶景路線を検索できる</h2>
        <p class="leading-relaxed text-base">都道府県やカテゴリから車窓の美しい路線を<br>検索することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'video_icon.svg', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">車窓動画を視聴できる</h2>
        <p class="leading-relaxed text-base">列車内からの展望動画を見ることで、<br>臨場感のある美しい車窓の景色を堪能することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
      <%= image_tag 'comment_icon.svg', alt: "testimonial", class: "w-20 h-20 mb-8 object-cover object-center inline-block bg-white-100" %>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">感想や思い出をシェアできる</h2>
        <p class="leading-relaxed text-base">車窓動画を見た感想や、路線にまつわる思い出などをコメントで他のユーザーと共有することができます</p>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto px-1 py-3 sm:px-1 max-w-3xl text-center">
  <!-- 検索フォーム -->
  <div class="p-3.5">
    <div class="artboard-demo bg-secondary-focus sm:col-span-2 p-3.5 items-center text-center">
      <h2 class="text-center font-bold font-serif text-xl mt-5"><%= (t 'static_pages.top.prefecture') %></h2>
      <div class="sm:col-span-2 p-3.5">
        <%= search_form_for @line do |f| %>
          <div class="p-3.5 inline-flex">
            <%# 都道府県検索 %>
            <%= f.collection_select(:prefecture_lines_prefecture_id_eq, @prefectures, :id, :name, { include_blank: "都道府県を選択" }, { class: "select select-bordered max-w-xs", id: "prefecture-select" }) %>
            <%# 路線検索 %>
            <%= f.collection_select(:id_eq, @lines, :id, :name, { include_blank: "路線名を選択" }, { class: "select select-bordered max-w-xs pl-8 ml-4", id: "line-select" }) %>
            <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
              <%= f.submit (t 'defaults.search') %>
            </button>
          </div>
        <% end %>
        <h2 class="text-center font-bold font-serif text-xl mt-8 mb-4"><%= (t 'static_pages.top.category') %></h2>
        <%# カテゴリ検索 %>
        <%= search_form_for @line do |f| %>
          <% Category.all.each do |category| %>
            <%= f.check_box :line_categories_category_id_eq_any, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false, class: 'checkbox checkbox-accent' }, category[:id] %>
            <%= f.label :line_categories_category_id_eq_any, category.name, { class: 'font-bold font-serif text-lg' }, value: category[:id] %>
          <% end %>
          <button class="text-white bg-accent hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 rounded-lg px-4 py-2 ml-4">
            <%= f.submit (t 'defaults.search') %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>