<div class="flex flex-col items-center justify-center my-10">
  <div class="flex justify-center text-3xl my-8">プロフィール</div>
  <div class="card w-[600px] bg-slate-100 shadow-xl border border-slate-300 relative">
    <div class="card-body items-center justify-center p-4">
      <div class="flex justify-between items-center">
        <div class="avatar absolute top-5 left-2.5">
          <div class="w-24 rounded-full">
            <%= image_tag current_user.avatar.url %>
          </div>
        </div>
        <div class="py-1 text-2xl text-center">
          <%= current_user.name %>
        </div>
        <div data-controller="modal">
          <div class="absolute top-4 right-4">
            <button data-action="click->modal#open">
              <i class="fa-solid fa-pen-to-square edit_button_size"></i>
            </button>
          </div>
          <!-- モーダル -->
          <%= render 'edit_modal' %>
        </div>
      </div>
      <div class="py-7 text-2xl text-center">
        <%= current_user.email %>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center text-3xl mt-28 mb-8">My Favorite Lines</div>
<div class="flex justify-center">
  <hr class="border-t-2 border-gray-10 w-10/12 mb-12">
</div>
<div class="pb-12 flex flex-row flex-wrap justify-center">
  <%= render partial: 'lines/line', collection: @line_likes, as: "line" %>
</div>