<body data-current-user-id="<%= current_user.id %>">
  <div class="chat-room">
    <div data-room-id="<%= @room.id %>" id="comments">
      <% @comments.each do |comment| %>
        <% if comment.user_id == current_user.id %>
          <!-- 自分のコメント -->
          <div class="chat chat-end comment-own pr-6 pt-6" data-user-id="<%= comment.user_id %>">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <%= image_tag current_user.avatar.url %>
              </div>
            </div>
            <div class="chat-header">
              <%= comment.user.name %>
            </div>
            <div class="chat-bubble bg-green-400"><%= comment.body %></div>
            <div class="chat-footer opacity-50">
              <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
            </div>
          </div>
        <% else %>
          <!-- 他人のコメント -->
          <div class="chat chat-start comment-others pl-6 pt-6" data-user-id="<%= comment.user_id %>">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <%= image_tag comment.user.avatar.url %>
              </div>
            </div>
            <div class="chat-header">
              <%= comment.user.name %>
            </div>
            <div class="chat-bubble"><%= comment.body %></div>
            <div class="chat-footer opacity-50">
              <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- 入力フォーム -->
  <div class="relative">
    <textarea id="room_input" class="p-4 pb-12 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="コメントを入力してください"></textarea>
    <!-- Toolbar -->
    <div class="absolute bottom-px inset-x-px p-2 rounded-b-md bg-white dark:bg-slate-900">
      <div class="flex justify-between items-center">
        <div class="flex items-center"></div>
        <!-- Button Group -->
        <div class="flex items-center gap-x-1">
          <!-- Send Button -->
          <button id="submit_button" type="button" class="mr-3 mb-3 inline-flex flex-shrink-0 justify-center items-center h-10 w-10 rounded-lg text-white bg-blue-600 hover:bg-blue-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
            </svg>
          </button>
          <!-- End Send Button -->
        </div>
        <!-- End Button Group -->
      </div>
    </div>
    <!-- End Toolbar -->
  </div>
</body>