<div class="w-full max-w-lg mx-auto mt-24">
  <h1 class="mb-2 text-2xl font-bold text-center text-black-900"><%= t '.title' %></h1>
  <%= form_with model: @user, url: admin_user_path(@user), class: 'max-w-lg px-10 py-12', local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4 flex-1">
      <div class="mb-3 flex items-center">
        <div class="avatar">
          <div class="w-24 rounded-full mr-4">
            <%= image_tag @user.avatar.url %>
          </div>
        </div>
        <div>
          <div class="pt-2 pb-2 text-sm">
            <% f.label :avatar, class: 'input-label-with-helper-text' %>
            <span class="sr-only">Choose profile photo</span>
          </div>
          <%= f.file_field :avatar, class: 'file-input file-input-bordered file-input-info file-input-sm w-full max-w-xs' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
      <div class="mb-4 flex-1">
        <%= f.label :name, class: 'block text-sm font-medium mb-2 dark:text-white' %>
        <%= f.text_field :name, class: 'py-3 px-4 block w-full border-gray-300 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500' %>
      </div>
      <div class="mb-4 flex-1">
        <%= f.label :email, class: 'block text-sm font-medium mb-2 dark:text-white' %>
        <%= f.email_field :email, class: 'py-3 px-4 block w-full border-gray-300 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500' %>
      </div>
      <div class="mb-4 flex-1">
        <%= f.label :role, class: 'block text-sm font-medium mb-2 dark:text-white' %>
        <%= f.select :role, User.roles_i18n.invert, {}, class: 'py-3 px-4 block w-full border-gray-300 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500' %>
      </div>
      <div class="flex items-center justify-center mt-8">
        <%= f.submit (t 'defaults.save_edit'), type: 'submit', class: 'cursor-pointer py-3 px-4 bg-blue-500 hover:bg-blue-600 text-white w-full rounded-md font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500' %>
      </div>
    </div>
  <% end %>
</div>